/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

#navbar {
    z-index: 100;
    top: 0;
    width: 100%;
    position: fixed;
}

body {
    line-height: 1.42857143;
}

.gls-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle !important;
}

.oj-margin-sm-bottom {
    margin-bottom: 5px;
}

.oj-web-applayout-header-title {
    font-size: 1.5rem;
}

.oj-hybrid-padding {
    padding-left: 15em;
    padding-right: 15em;
}

.oj-web-applayout-header > div,
.oj-web-applayout-footer > div {
    padding-left: 15rem;
    padding-right: 15rem;
}

.title_wrapper {
    font-size: 2.42857rem;
    font-weight: 1000;
    letter-spacing: 0.8px;
    margin-bottom: 3%;
    text-align: center;
}

.description {
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    line-height: 1.42857143;
    width: 80%;
    margin: auto;
}

.oj-inputtext-input,
.oj-inputnumber-input,
.oj-buttonset-width-auto,
.oj-select-choice,
.oj-inputsearch-choice,
.oj-button,
.oj-inputdatetime-input,
.oj-inputdatetime-input-trigger {
    height: 3rem !important;
}

#map-canvas {
    height: 600px;
}

.oj-padding-sm-horizontal {
    padding-left: 3px;
    padding-right: 3px;
}

#over_map {
    text-align: center;
    position: absolute;
    border-top: 5px;
    border-right: 5px;
    border-top-color: #0081F9;
    border-top-style: solid;
    top: 475px;
    z-index: 99;
    background: rgba(255, 255, 255);
    height: 125px;
    width: 25%;
}

#over_map .oj-select {
    margin-top: 2em;
}

.svg-icon-wrapper {
    width: 70%;
    margin: auto;
}

.perk-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Circular", sans-serif;
}

.perk-content {
    font-size: 1rem;
    margin: auto;
    width: 80%;
}

#perks_wrapper {
    margin-top: 5%;
    text-align: center;
    width: 80%;
    margin: auto;
}

$bluegls: #0081F9;
$lighterbluegls: #70baff;
$redgls: #FA0000;
$yellowgls: #FEFFB5;
.svg-icon-wrapper {
    width: 40%;
    margin: auto;
}

.perk {
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
    width: 100%;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.pedido-bkg-image {
    background-image: url(/css/images/road.jpg);
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}

.pedido-bkg-image h1 {
    color: white;
}

.pedido-bkg-image h2 {
    color: white;
}

.svg-icon {
    width: 100%;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
    border-radius: 30%;
    background-color: #70baff;
    height: 100px;
}

#order-header {
    text-align: center;
    margin-bottom: 1em;
}

.transparent-bg {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 20px;
}

#map_wrapper {
    position: relative;
}

#order-left-content {
    margin-right: 2em;
}

p {
    text-align: justify;
}

footer * {
    color: #7c7c7c !important;
}

.footer-section {
    /*width: 15%;*/
    padding-bottom: 8px;
    display: inline-block;
}

.oj-web-applayout-footer-item {
    margin-bottom: 10px;
}

.footer-section-content {
    font-size: 0.7em;
    margin-top: 0.5em;
}

.footer-content-entry {
    padding: 2px;
}

.footer-title-icon {
    width: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}

.footer-content-icon {
    width: 12px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.footer-title {
    display: inline-block;
    font-size: 0.85em;
    border-bottom: 1px solid #7c7c7c;
    padding-top: 10px;
    margin-left: 0.3em;
    width: 100%;
    padding-bottom: 8px;
}

.gray_background {
    padding-left: 3000px;
    margin-left: -3000px;
    padding-right: 3000px;
    margin-right: -3000px;
    background: rgba(0, 0, 0, 0.05);
}

#side-title {
    font-size: 2.42857rem;
    font-weight: 200;
    letter-spacing: 0.8px;
}

.right-column .form-group {
    margin-left: 0.5em;
}

.left-column .form-group {
    margin-right: 0.5em;
}

#drawerToggleButton {
    z-index: 500;
}

#navDrawer {
    z-index: 500;
}

@media (max-width: 1023px) {
    .title_wrapper {
        font-size: 2rem;
        font-family: "Circular", sans-serif;
        margin-bottom: 5%;
        text-align: center;
    }
    .gray_background .title_wrapper {
        font-size: 2rem;
        font-family: "Circular", sans-serif;
        margin-top: 0%;
        margin-bottom: 5%;
        text-align: center;
    }
    .oj-hybrid-padding {
        padding-left: 1em;
        padding-right: 1em;
    }
    .description {
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        font-weight: 200;
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 5%;
        text-align: center;
        line-height: 1.42857143;
    }
    .perk {
        margin-bottom: 1.5em;
    }
    #map-canvas {
        height: 400px;
    }
    #over_map {
        text-align: center;
        position: absolute;
        border-top: 5px;
        border-right: 5px;
        border-top-color: #0081F9;
        border-top-style: solid;
        top: 300px;
        z-index: 99;
        background: rgba(255, 255, 255);
        height: 100px;
        width: 40%;
    }
    .over_map_text {
        font-size: 0.7em;
        margin-bottom: 5px;
    }
    #over_map .oj-select {
        max-width: 9em;
        min-width: 6em;
        font-size: 0.7rem;
        margin-top: 0.8em;
    }
    h1 {
        text-align: center;
    }
    p {
        text-align: center !important;
    }
    #side-title {
        font-size: 1.71429rem;
        font-weight: 300;
        text-align: center;
    }
    #pedidos .oj-inputtext,
    .oj-inputsearch,
    .oj-select {
        max-width: none !important;
    }
    #contacto .oj-inputtext,
    .oj-inputsearch,
    .oj-select {
        max-width: none !important;
    }
    .right-column .form-group {
        margin-left: 0px;
    }
    .left-column .form-group {
        margin-right: 0px;
    }
    #navTemplate * {
        font-size: 20px;
    }
    .oj-web-applayout-header > div,
    .oj-web-applayout-footer > div {
        padding-right: 0px;
        padding-left: 0px;
    }
    .oj-web-applayout-header-title {
        font-size: 1.3em;
    }
    #appNameContainer {
        margin-left: 3%;
        width: 100%;
    }
    #copyright {
        font-size: 0.7em !important;
    }
    .footer-title {
        text-align: left;
    }
    .footer-content-entry {
        padding: 2px;
        text-align: left;
    }
    #footer-appName-section {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

@media (max-width: 763px) {
    .footer-section * {
        text-align: center;
    }
    .center-sm-margin-auto {
        margin: auto;
    }
}
